/* Add your CSS styles here */
.login-container {
  max-width: 300px;
  margin: auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.login-container div {
  margin-bottom: 1em;
}

.login-container label {
  margin-bottom: .5em;
  color: #333333;
  display: block;
}

.login-container input {
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.login-container button {
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 0.3em;
  width: 100%;
}

.error {
  color: red;
  margin-top: 1em;
}
