<section id="stream" class="p_3">
    <div class="container-xl">
     <div class="row stream_1">
      <div class="col-md-12">
       <h6 class="col_red">ONLINE STREAMING</h6>
       <h1 class="mb-0">Watch Shows Online</h1>
      </div>
     </div>
     <div class="row stream_2 mt-4">
      <div class="col-md-3 pe-0">
        <div class="stream_2im clearfix position-relative">
          <div class="stream_2im1 clearfix">
            <div class="grid clearfix">
                      <figure class="effect-jazz mb-0">
                        <a href="#"><img src="images/4.jpg" class="w-100" alt="abc"></a>
                      </figure>
                  </div>
          </div>
          <div class="stream_2im2 position-absolute w-100 h-100 p-3 top-0  clearfix">
           <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
           <h4 class="text-white">Thinking You</h4>
           <h6 class="font_14 mb-0 text-white"><a class="text-white me-1 font_60 align-middle lh-1" href="#"><i class="fa fa-play-circle"></i></a> SEASON 1 - 2020</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3 pe-0">
        <div class="stream_2im clearfix position-relative">
          <div class="stream_2im1 clearfix">
            <div class="grid clearfix">
                      <figure class="effect-jazz mb-0">
                        <a href="#"><img src="images/5.jpg" class="w-100" alt="abc"></a>
                      </figure>
                  </div>
          </div>
          <div class="stream_2im2 position-absolute w-100 h-100 p-3 top-0  clearfix">
           <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
           <h4 class="text-white">Civil War</h4>
           <h6 class="font_14 mb-0 text-white"><a class="text-white me-1 font_60 align-middle lh-1" href="#"><i class="fa fa-play-circle"></i></a> SEASON 1 - 2020</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3 pe-0">
        <div class="stream_2im clearfix position-relative">
          <div class="stream_2im1 clearfix">
            <div class="grid clearfix">
                      <figure class="effect-jazz mb-0">
                        <a href="#"><img src="images/6.jpg" class="w-100" alt="abc"></a>
                      </figure>
                  </div>
          </div>
          <div class="stream_2im2 position-absolute w-100 h-100 p-3 top-0  clearfix">
           <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
           <h4 class="text-white">Popular Movie</h4>
           <h6 class="font_14 mb-0 text-white"><a class="text-white me-1 font_60 align-middle lh-1" href="#"><i class="fa fa-play-circle"></i></a> SEASON 1 - 2020</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3 pe-0">
        <div class="stream_2im clearfix position-relative">
          <div class="stream_2im1 clearfix">
            <div class="grid clearfix">
                      <figure class="effect-jazz mb-0">
                        <a href="#"><img src="images/7.jpg" class="w-100" alt="abc"></a>
                      </figure>
                  </div>
          </div>
          <div class="stream_2im2 position-absolute w-100 h-100 p-3 top-0  clearfix">
           <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
           <h4 class="text-white">Best Game</h4>
           <h6 class="font_14 mb-0 text-white"><a class="text-white me-1 font_60 align-middle lh-1" href="#"><i class="fa fa-play-circle"></i></a> SEASON 1 - 2020</h6>
          </div>
        </div>
      </div>
     </div>
    </div>
    </section>
    
    <section id="exep" class="p_3 bg-light">
    <div class="container-xl">
      <div class="row exep1">
       <div class="col-md-6">
        <div class="exep1l">
          <div class="grid clearfix">
                      <figure class="effect-jazz mb-0">
                        <a href="#"><img src="images/8.jpg" class="w-100" alt="abc"></a>
                      </figure>
                  </div>
        </div>
       </div>
       <div class="col-md-6">
        <div class="exep1r">
         <h1 class="mb-0">Best pick for hassle-free streaming experience.</h1>
         <div class="exep1ri row mt-4">
          <div class="col-md-2">
           <div class="exep1ril">
            <span class="font_60"><i class="fa fa-suitcase lh-1 col_red"></i></span>
           </div>
          </div>
          <div class="col-md-10">
           <div class="exep1rir">
             <h5 class="fs-4">Access while traveling</h5>
             <p class="mb-0">Keep access to your entertainment content while roaming the world.Pick from thousands.</p>
           </div>
          </div>
         </div>
         <div class="exep1ri row mt-4">
          <div class="col-md-2">
           <div class="exep1ril">
            <span class="font_60"><i class="fa fa-desktop lh-1 col_red"></i></span>
           </div>
          </div>
          <div class="col-md-10">
           <div class="exep1rir">
             <h5 class="fs-4">Stream with no interruptions</h5>
             <p class="mb-0">Keep access to your entertainment content while roaming the world.Pick from thousands.</p>
           </div>
          </div>
         </div>
         <div class="exep1ri row mt-4">
          <div class="col-md-2">
           <div class="exep1ril">
            <span class="font_60"><i class="fa fa-lock lh-1 col_red"></i></span>
           </div>
          </div>
          <div class="col-md-10">
           <div class="exep1rir">
             <h5 class="fs-4">Stay secure at all times</h5>
             <p class="mb-0">Keep access to your entertainment content while roaming the world.Pick from thousands.</p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
    </div>
    </section>
    
    <section id="spec" class="p_3 bg_dark">
    <div class="container-xl">
      <div class="row stream_1 text-center">
      <div class="col-md-12">
       <h6 class="text-white-50">FIND ANYWHERE ELSE</h6>
       <h1 class="mb-0 text-white font_50">Shows For You</h1>
      </div>
     </div>
      <div class="row spec_1 mt-4">
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/10.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">5.9</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Ce Of Entro</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/9.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">6.1</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">White Panther</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/11.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">7.1</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">160 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Coming Soon</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/12.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">8.1</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Handmaiden</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/13.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">6.9</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">The Silence</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/14.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">8.4</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Monospaced</a></h5>
         </div>
        </div>
      </div>
      <div class="row spec_1 mt-4">
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/15.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">5.9</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Ce Of Entro</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/16.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">6.1</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">White Panther</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/17.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">7.1</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">160 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Coming Soon</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/18.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">8.1</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Handmaiden</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/19.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">6.9</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">The Silence</a></h5>
         </div>
        </div>
        <div class="col-lg-2 pe-0 col-md-4">
         <div class="spec_1im clearfix position-relative">
           <div class="spec_1imi clearfix">
             <img src="images/20.jpg" class="w-100" alt="abc">
           </div>
            <div class="spec_1imi1 row  m-0 w-100 h-100 clearfix position-absolute bg_col top-0">
              <div class="col-md-9 col-9 p-0">
               <div class="spec_1imi1l pt-2">
                 <h6 class="mb-0 font_14 d-inline-block"><a class="bg-black d-block text-white"  href="#"> <span class="pe-2 ps-2">1080</span>  <span class="bg-white  d-inline-block text-black span_2"> HD</span></a></h6>
               </div>
              </div>
              <div class="col-md-3 col-3 p-0">
               <div class="spec_1imi1r">
                 <h6 class="text-white"><span class="rating d-inline-block rounded-circle me-2 col_green">8.4</span></h6>
               </div>
              </div>
           </div>
         </div>
         <div class="spec_1im1 clearfix">
          <h6 class="text-light fw-normal font_14 mt-3">180 min,
    <span class="col_red">Action</span>
    <span class="span_1 pull-right d-inline-block">PG13</span></h6>
        <h5 class="mb-0 fs-6"><a class="text-white" href="#">Monospaced</a></h5>
         </div>
        </div>
      </div>
      <div class="row spec_1 text-center mt-5">
      <div class="col-md-12">
       <h5 class="mb-0 text-uppercase"><a class="button" href="#"><i class="fa fa-youtube-play me-1"></i> BROWSE ALL MOVIES</a></h5>
      </div>
     </div>
    </div>
    </section>
    
    <section id="testim" class="p_3 pb-5">
        <div class="container-xl">
            <div class="row stream_1 text-center">
      <div class="col-md-12">
       <h6 class="text-uppercase col_red">Testimonials</h6>
       <h1 class="mb-0 font_50">Trusted by tech experts and <br>  real users</h1>
      </div>
     </div>
            <div class="row testim_1 mt-4">
              <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testim_1i row">
             <div class="col-md-6">
              <div class="testim_1i1 text-center p-4 pt-5 pb-5 bg_dark rounded">
                <img src="images/22.jpg" alt="abc" class="rounded-circle">
                <h4 class="col_red mt-3">Semp Porta</h4>
                <h6 class="fw-normal text-muted">CEO, Company Inc.</h6>
                <span class="font_60 text-white"><i class="fa fa-quote-left"></i></span>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam porro necessitatibus, consequuntur, reiciendis
    dolore doloribus id repellendus tempora vitae quia voluptas ipsum eligendi hic.</p>
                 <span class="col_red">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                 </span>
              </div>
             </div>
             <div class="col-md-6">
              <div class="testim_1i1 text-center p-4 pt-5 pb-5 bg_dark rounded">
                <img src="images/23.jpg" alt="abc" class="rounded-circle">
                <h4 class="col_red mt-3">Eget Nulla</h4>
                <h6 class="fw-normal text-muted">CEO, Company Inc.</h6>
                <span class="font_60 text-white"><i class="fa fa-quote-left"></i></span>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam porro necessitatibus, consequuntur, reiciendis
    dolore doloribus id repellendus tempora vitae quia voluptas ipsum eligendi hic.</p>
                 <span class="col_red">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                 </span>
              </div>
             </div>
          </div>
        </div>
        <div class="carousel-item">
           <div class="testim_1i row">
             <div class="col-md-6">
              <div class="testim_1i1 text-center p-4 pt-5 pb-5 bg_dark rounded">
                <img src="images/24.jpg" alt="abc" class="rounded-circle">
                <h4 class="col_red mt-3">Dapibus Diam</h4>
                <h6 class="fw-normal text-muted">CEO, Company Inc.</h6>
                <span class="font_60 text-white"><i class="fa fa-quote-left"></i></span>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam porro necessitatibus, consequuntur, reiciendis
    dolore doloribus id repellendus tempora vitae quia voluptas ipsum eligendi hic.</p>
                 <span class="col_red">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                 </span>
              </div>
             </div>
             <div class="col-md-6">
              <div class="testim_1i1 text-center p-4 pt-5 pb-5 bg_dark rounded">
                <img src="images/21.jpg" alt="abc" class="rounded-circle">
                <h4 class="col_red mt-3">Per Conubia</h4>
                <h6 class="fw-normal text-muted">CEO, Company Inc.</h6>
                <span class="font_60 text-white"><i class="fa fa-quote-left"></i></span>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam porro necessitatibus, consequuntur, reiciendis
    dolore doloribus id repellendus tempora vitae quia voluptas ipsum eligendi hic.</p>
                 <span class="col_red">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                 </span>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
            </div>
        </div>
    </section>
    
    <section id="price">
     <div class="price_m clearfix pt-5 pb-5 bg_image">
      <div class="container-xl">
        <div class="row stream_1 text-center">
        <div class="col-md-12">
        <h6 class="text-uppercase col_red">START SECURE BROWSING</h6>
        <h1 class="mb-0 font_50 text-white">Ready to Grab the deal?</h1>
        </div>
        </div>
        <div class="row price_1 mt-4">
        <div class="col-md-4">
         <div class="price_1i bg-white p-4 text-center">
          <span class="font_60 col_red lh-1"><i class="fa fa-youtube-play"></i></span>
          <h5>1-month plan</h5>
          <h1 class="font_50 lh-1 mt-3">$8.99</h1>
          <h6 class="fw-normal">Per month</h6>
          <h6 class="text-uppercase mt-3"><a class="button_1 d-block" href="#"> Get The Deal</a></h6>
          <p class="mb-0 mt-3"><i class="fa fa-lock me-1 col_green"></i> 45-days money-back guarantee</p>
         </div>
        </div>
        <div class="col-md-4">
         <div class="price_1i bg-white p-4 text-center">
          <span class="font_60 col_red lh-1"><i class="fa fa-youtube-play"></i></span>
          <h5>12-month plan</h5>
          <h1 class="font_50 lh-1 mt-3">$4.99</h1>
          <h6 class="fw-normal">Per month</h6>
          <h5 class="save d-inline-block col_red fs-6 mt-2">Save 63%</h5>
          <p class="mt-2 fs-6"><span class="text-decoration-line-through text-muted">$236.80</span> <span class="fw-bold">$83.00</span> for the first 2 years</p>
          <h6 class="text-uppercase mt-3"><a class="button_1 d-block" href="#"> Get The Deal</a></h6>
          <p class="mb-0 mt-3"><i class="fa fa-lock me-1 col_green"></i> 45-days money-back guarantee</p>
         </div>
        </div>
        <div class="col-md-4">
         <div class="price_1i bg-white p-4 text-center">
          <span class="font_60 col_red lh-1"><i class="fa fa-youtube-play"></i></span>
          <h5>6-month plan</h5>
          <h1 class="font_50 lh-1 mt-3">$6.99</h1>
          <h6 class="fw-normal">per month</h6>
          <h6 class="text-uppercase mt-3"><a class="button_1 d-block" href="#"> Get The Deal</a></h6>
          <p class="mb-0 mt-3"><i class="fa fa-lock me-1 col_green"></i> 45-days money-back guarantee</p>
         </div>
        </div>
        </div>
        </div>
     </div>
    </section>